* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #e7e7fd;
    height: 100vh;
}

h1 {
    color: #6495ed;
    margin-bottom: 20px;
    font-size: 36px;
}

.container {
    width: 300px;
    background-color: #6f7f9c;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.display {
    width: 100%;
    height: 60px;
    font-size: 24px;
    text-align: right;
    border: none;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 10px;
    background-color: #f0f0f0;
    box-sizing: border-box;
}

.botoes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 10px;
}

button {
    height: 60px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #e0e0e0;
}

.btn-zero{
    grid-column: 1 / 3;
}

.result{
    grid-row: 4 / 6;
    grid-column: 4;
    height: 100%;
}